*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Quicksand', sans-serif;
    background:#F6EFE6;
    color:#1E1E1E;
}

/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.logo h2{
    color:#4A5A3A;
    font-size:32px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:#4A5A3A;
    font-weight:bold;
}

/* HERO */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
}

.hero-texto{
    width:55%;
}

.hero-texto h1{
    font-size:60px;
    color:#4A5A3A;
    margin-bottom:20px;
}

.hero-texto p{
    font-size:20px;
    margin-bottom:25px;
}

.hero-imagen{
    font-size:140px;
}

/* BOTONES */

button{
    background:#4A5A3A;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:40px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#8B5E3C;
}

/* SERVICIOS */

.servicios{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:50px;
}

.card{
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.card h3{
    color:#4A5A3A;
    margin-bottom:10px;
}

/* FAVORITOS */

.favoritos{
    padding:60px;
}

.favoritos h2{
    text-align:center;
    color:#4A5A3A;
    margin-bottom:30px;
    font-size:40px;
}

.productos{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.producto{
    background:white;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.producto h4{
    color:#4A5A3A;
    margin-bottom:10px;
}

/* AMOR */

.amor{
    text-align:center;
    padding:70px;
}

.amor h2{
    color:#8B5E3C;
    margin-bottom:25px;
}

/* FOOTER */

footer{
    background:#4A5A3A;
    color:white;
    text-align:center;
    padding:40px;
}

/* RESPONSIVE */

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-texto{
        width:100%;
    }

    .hero-texto h1{
        font-size:40px;
    }

    .servicios{
        grid-template-columns:1fr;
    }

    .productos{
        grid-template-columns:1fr;
    }
}